<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>My Recipes</h1>

<section th:each="recipe : ${ recipes }">
<h2 th:text="${recipe.description}">blah</h2>
    <table>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Unit of Measure</th>
        </tr>
        <tr th:each="ingredient : ${ recipe.ingredients }">
            <td th:text="${ ingredient.description }">123</td>
            <td th:text="${ ingredient.amount }">Spring in Action</td>
            <td th:text="${ ingredient.uom != null} ? ${ ingredient.uom.uom } : ''"></td>
        </tr>
    </table>
    <h3>Method</h3>
    <p th:text="${recipe.directions}"></p>
</section>
</body>
</html>